{% extends "layout.html" %}
{% block body %}
    <article>
        <h2>Download</h2>
        <p>MathWorkersJS can be obtained in the following ways:</p>

        <h3>Using npm</h3>
        <pre><code class="language-markup">npm install mathworkers</code></pre>

        <h3>Using Bower</h3>
        <pre><code class="language-markup">bower install mathworkers</code></pre>

        <h3>Using GitHub</h3>
        <p><a href="https://github.com/awlange/mathworkers/dist/mathworkers.js">Source code</a>
            <a href="https://github.com/awlange/mathworkers/dist/mathworkers.min.js">(minified)</a></p>

    </article>
{% endblock body %}