{% extends "layout.html" %}
{% block body %}
    <article>
        <h2 id="about">About</h2>
        <p>
            MathWorkersJS is a parallel JavaScript math library built around HTML5 Web Workers.
        </p>
        <p>
            MathWorkersJS can speed up the performance of in-browser/client-side computations
            on computers with multi-core processors by distributing computational
            load among a pool of web workers which execute in parallel.
        </p>

        <h2 id="features">Features</h2>
        <ul>
            <li>Vector and Matrix classes wrapping Float64Array objects</li>
            <li>Serial and parallel implementations for common linear algebra operations</li>
            <li>Coordinator-Worker parallelism paradigm with easy to use communication abstraction</li>
            <li>Familiar event emitter style for handling synchronization</li>
        </ul>

        <h2 id="limitations">Limitations</h2>
        <ul>
            <li>Parallel methods are <em>not</em> guaranteed to always improve computation timings, as timings will depend
                a great deal on data size, browser, operating system, computer hardware, and more.
                However, more often than not, MathWorkersJS exhibits timing benefits on most modern systems.
            </li>
            <li>Currently only supports double precision floating point numbers. No integer methods.</li>
            <li>Parallelism relies on web worker browser support. Naturally, MathWorkersJS will not work properly on
                browsers that do no support web workers.</li>
            <li>Node.js compatibility is not tested, and the Worker class is not provided out-of-the-box for node.js.
                Extensions for node.js are to be considered more in the future.</li>
        </ul>

        <h2 id="basic_examples">Basic Examples</h2>
        <p>
            Here is a simple example of a serial vector dot product in MathWorkersJS:
        </p>
        <pre><code class="language-javascript">var v = MathWorkers.Vector.fromArray([1, 2, 3, 4]);
var w = MathWorkers.Vector.fromArray([5, 6, 7, 8]);
var dot = v.dotVector(w);
console.log(dot);</code></pre>
        <p>
            To perform the same vector dot product in parallel, MathWorkersJS requires two
            separate code pieces, the code for the workers and the code for the coordinator.
            (For more details, see the <a href="/quickstart">Quick Start</a> guide.)
        </p>
        <p>
            Coordinator code for launching 2 workers:
        </p>
        <pre><code class="language-javascript">// Initialize a Coordinator with 2 workers
var coord = new MathWorkers.Coordinator(2, "work.js");

// Begin the computation once the workers are ready
coord.onReady(function() {
	coord.trigger("compute");
});

// Obtain the resulting dot product
coord.on("dot", function() {
	var dot = crd.getBuffer();
    console.log(dot);
});</code></pre>
        <p>
            Worker code, "work.js", which is executed by both workers in parallel:
        </p>
        <pre><code class="language-javascript">// Load MathWorkersJS for this worker
importScripts("mathworkers.js");
var worker = new MathWorkers.MathWorker();

// On the Coordinator trigger, compute the dot product in parallel
worker.on("compute", function() {
    var v = MathWorkers.Vector.fromArray([1, 2, 3, 4]);
    var w = MathWorkers.Vector.fromArray([5, 6, 7, 8]);
	v.workerDotVector(w, "dot");
});</code></pre>
        <p>
            Still with me? Admittedly, there is a little bit of boilerplate attached to a MathWorkersJS
            parallel computation, but what you see above is essentially the basic framework that much more complex
            computations can be built upon!
        </p>
        <p>
            To start diving deeper into MathWorkersJS and figure out how to unleash its power, head over to
            the <a href="/quickstart">Quick Start</a> guide.
        </p>
    </article>

{% endblock body %}
