{% extends "layout.html" %}
{% block body %}
    <article>
        <h2 id="about">About</h2>
        <p>
            MathWorkersJS is a parallel JavaScript math and statistics library built around HTML5 Web Workers and the
            Node.js cluster module.
        </p>
        <p>
            MathWorkersJS can speed up the performance of in-browser/client-side computations
            on computers with multi-core processors by distributing computational
            load among a pool of workers which execute in parallel. On the client-side, MathWorkersJS parallelizes in
            the browser via HTML5 <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API">Web Workers</a>.
            On the server-side, MathWorkersJS parallelizes via the
            <a href="http://nodejs.org/api/cluster.html">cluster module</a> in Node.js.
        </p>

        <h2 id="features">Features</h2>
        <ul>
            <li>Runs client-side in browsers or server-side with Node.js</li>
            <li>Vector and Matrix classes wrapping Float64Array objects</li>
            <li>Serial and parallel implementations for common linear algebra operations</li>
            <li>Coordinator-Worker parallelism paradigm with easy to use communication abstraction</li>
            <li>Familiar event emitter style for handling synchronization</li>
        </ul>

        <h2 id="limitations">Limitations</h2>
        <ul>
            <li>MathWorkersJS exhibits timing benefits on most modern systems.
                However, its parallel methods are <em>not</em> guaranteed to always improve computation timings,
                as timings will depend a great deal on data size, browser, operating system, computer hardware, and more.
                (This is something any good programmer should know about, of course!)
            </li>
            <li>Currently only supports double precision floating point numbers. No integer methods.</li>
            <li>Parallelism in browsers relies on Web Worker support. Naturally, MathWorkersJS will not work properly on
                browsers that do no support Web Workers.</li>
        </ul>

        <h2 id="basic_examples">Basic Examples</h2>
        <p>
            Here is a simple example of a serial vector dot product in MathWorkersJS:
        </p>
        <pre><code class="language-javascript">var v = MathWorkers.Vector.fromArray([1, 2, 3, 4]);
var w = MathWorkers.Vector.fromArray([5, 6, 7, 8]);
var dot = v.dotVector(w);
console.log(dot);</code></pre>
        <p>
            To perform the same vector dot product in parallel, MathWorkersJS requires two
            separate code pieces, the code for the workers and the code for the coordinator.
            (For more details, see the <a href="/quickstart">Quick Start</a> guide.)
        </p>
        <p>
            Coordinator code for launching 2 workers:
        </p>
        <pre><code class="language-javascript">// Initialize a Coordinator with 2 workers
var coord = new MathWorkers.Coordinator(2, "work.js");

// Begin the computation once the workers are ready
coord.onReady(function() {
	coord.trigger("compute");
});

// Obtain the resulting dot product
coord.on("dot", function() {
	var dot = coord.getBuffer();
    console.log(dot);
});</code></pre>
        <p>
            Worker code, "work.js", which is executed by both workers in parallel:
        </p>
        <pre><code class="language-javascript">// Load MathWorkersJS for this worker
importScripts("mathworkers.js");
var worker = new MathWorkers.MathWorker();

// On the Coordinator trigger, compute the dot product in parallel
worker.on("compute", function() {
    var v = MathWorkers.Vector.fromArray([1, 2, 3, 4]);
    var w = MathWorkers.Vector.fromArray([5, 6, 7, 8]);
	v.workerDotVector(w, "dot");
});</code></pre>
        <p>
            Still with me? Admittedly, there is a little bit of boilerplate attached to a MathWorkersJS
            parallel computation, but what you see above is essentially the basic framework that much more complex
            computations can be built upon!
        </p>
        <p>
            To start diving deeper into MathWorkersJS and figure out how to unleash its power, head over to
            the <a href="/quickstart">Quick Start</a> guide.
        </p>
    </article>

{% endblock body %}
